<div class="row">
  <div class="col-xs-10">
    <app-tabs-edit> </app-tabs-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let item of items; let i = index"
        (click)="onEditItem(i)"
      >
        '{{ item.label }}'    '{{item.content }}'



        <div class="material-switch pull-right">
            <input id={{i}}  type="checkbox" [(ngModel)]=item.checkbox/>
            <label for={{i}} class="label-primary"></label>
        </div>



      </a>
    </ul>
  </div>
</div>
